In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [14]:
cities=pd.read_csv(r"C:\Users\cynth\Desktop\Python API\Python-APIs\WeatherPy\Data\weather_data.csv")
cities.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,1596815759,-21.20,-175.20,64.4,88,20,4.70
1,1,Pisco,PE,1596815760,-13.70,-76.22,63.0,82,75,3.36
2,2,Hambantota,LK,1596815760,6.12,81.12,82.4,83,40,17.22
3,3,Busselton,AU,1596815760,-33.65,115.33,52.0,55,100,15.14
4,4,Saint Paul Harbor,US,1596815760,57.79,-152.41,53.6,81,90,3.36